@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  transition: all 300ms ease-in-out;
}

*::selection {
  background: black;
  color: white;
}

.blueFade {
  animation: blueFade 1000 ease-in-out;
}

@keyframes blueFade {
  0% {
    --tw-gradient-from-position: 0%;
    --tw-gradient-to-position: 0%;
  }
  100% {
    --tw-gradient-from-position: 100%;
    --tw-gradient-to-position: 100%;
  }
}

.scroll {
  animation: scroll 1500ms ease-in-out infinite;
}

@keyframes scroll {
  0% {
    transform: translate(-50%, 1px);
  }
  50% {
    transform: translate(-50%, 21px);
  }
  100% {
    transform: translate(-50%, 1px);
  }
}

.floating-right {
  animation-name: floating-right;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.floating-left {
  animation-name: floating-left;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes floating-right {
  0% {
    transform: translate(0, 0px);
  }
  33% {
    transform: translate(200px, -200px);
  }
  66% {
    transform: translate(150px, 150px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

@keyframes floating-left {
  0% {
    transform: translate(0, 0px);
  }
  33% {
    transform: translate(300px, 200px);
  }
  66% {
    transform: translate(200px, -200px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
